<h1>Todo list using mysql :</h1>


<form action="/user" method="get">
    <input type="submit" value="Go to list">
</form>

<a href="/user">
    <button>Go to New URL</button>
    <input type="submit" value="Go to list">
</a>