<h1>Add User :</h1>
<form action="/user" method="POST">
    Name :
    <input type="text" name="lastname" value="" /><br />
    First name :
    <input type="text" name="firstname" value="" />
    <input type="hidden" name="iduser" value="" />
    <input type="submit" name="save" value="save" /><br />
    <input type="submit" value="Back to list" formaction="/user" />
</form>